#interview-bar-wrapper {
    background-color: #6137cc;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}


@keyframes blink {
    0%,100% {opacity: 1;}
    50% {opacity: 0;}
}


.rec-indicator {
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
    width:10px;
    height: 10px;
    margin-left: 10%;
    animation: blink 1.0 s infinite;
}






.timer {
    margin-left: 20px;
    margin-right: auto;
    color: white;
    font-size: 16px;
    font-weight: 150;
}

.leave-button {
 font-weight: bolder;
 border-color: #e03934;
 margin-left: auto;
 padding: 5px 15px 5px 15px;
 font-size: 14px;
 background-color: #e03934;
 color: white;
 cursor:pointer;
}

.leave-button:active {
    transform: scale(0.95);
   
}