#user_form_wrapper {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 20%;
}

.form-title {
    text-align: center;
}

.label {
    font-family: Helvetica, sans-serif;
}


.text-area {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 4px 20px 4px 20px;
    border-radius: 8px;
    background-color: #6137cc;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
