#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#questions {
    font-size: 38px;
    font-weight: lighter;
    margin-top: 150px;
}

#try-line {
    font-size: 40px;
    font-weight: bold;
    margin-top: 75px;
    margin-bottom: 75px;
}

#integrations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #ededed;
    padding-top: 15px;
}

#logos{
    display: flex;
    gap: 300px;
    align-items: center;
}

#integrations p {
    font-size: 20px;
    color: #3d3d3d;
    font-family: 'Helvetica', 'sans-serif';
}


#openai-img{
    width: 120px;
    height:120px;

}

#anthropic-img{
    width: 70px;
    height: 70px;

}

#faq-wrapper{
    display: flex;
    /* border: 1px solid purple; */
    width: 100%;
    height: 50%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#faq-title {
    margin: 5%;
}

hr{
    border: none;
    border-top: 1px solid black;
    width: 75%;
    margin-top: 5%;
}

#process-steps-wrapper {
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    font-family: 'Jacques Francois', Helvetica , Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.titles {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#who-we-are-wrapper {
    /* border: 1px solid blue; */
    width:100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about {
    font-size: 18px;
    background-color: black;
    width: 40%;
    height: 75%;
    color: white;
    text-align: center;
    padding: 75px 10px 0px 10px;
}

#indiana-owned {
    background-color: black;
    width: 40%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#indiana-map{
    width: 55%;
    height: 55%;
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

#footer{
    width:100%;
    height:10%;
    background-color: black;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-btn {
    background: none;
    padding: 0;
    border: none;
    font-size: 13px;
    color: white;
    cursor: pointer;
    font-family: Helvetica , 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.footer-btn:hover{
    transform: scale(1.03);
}
.footer-btn:active{
    transform: scale(0.97);
}

@media (max-width:768px) {
    #hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    } 
    
    #questions {
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    margin-top: 100px;
    width: 400px;
    height: 90px;
  
    }

    #try-line{
        font-size: 40px;
        font-weight: bold;
        margin-top: 75px;
        margin-bottom: 75px;
        text-align: center;
    }

    #get-started-btn{
        color: black;
    }

    #process-steps-wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Jacques Francois', Helvetica , Times, serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    gap:10px;
    margin-top: 15px

    }

    #who-we-are-wrapper {
    /* border: 3px solid red; */
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    }

    #about {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: black;
    width: 75%;
    height: calc(50% - 6px);
    color: white;
    text-align: center;
    padding: 0px 10px;
    margin-top: 15px;

}

#indiana-owned {
    background-color: black;
    width: 75%;
    height: calc(50% - 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


#faq-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}

#faq-title {
    /* margin: 5%; */
    text-align: center;

}

#integrations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: #ededed;
    padding-top: 15px;
    margin-top: 20px;
}

#logos{
    display: flex;
    gap: 100px;
    align-items: center;
}

#integrations p {
    font-size: 20px;
    color: #3d3d3d;
    font-family: 'Helvetica', 'sans-serif';
}


#openai-img{
    width: 120px;
    height:120px;

}

#anthropic-img{
    width: 70px;
    height: 70px;

}

}