#process-step{
    width: 25%;
    height: 75%;
    background-color: black;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color: white;
    transition: transform 0.2s ease, border 0.2s ease;
}

#process-step:hover {
    transform: scale(1.03);
    border: 2px solid #61CBF4;
}

#number-div{
width: 50px;
height: 50px;
background-color: white;
color: black;
border-radius: 50%;
border: 1px solid aqua;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;

}

#text {
 font-size: 14px;
 text-align: center;
}

.icons {
    width: 40px;
    height: 40px;
} 